Report:


1.   Business problem/ problem statement
2.   Assumptions
3.   Research questions
4.   hypothesis
5.   Analysis and findings
6.   suggestions

# **Amazon Sales EDA**

### Exploratory Data Analysis (EDA) is the process of examining and analyzing data sets to summarize their main characteristics using visual methods and descriptive statistics. The goal of EDA is to gain an understanding of the data and to identify patterns, relationships, and anomalies that can provide insights into the underlying structure of the data.

### The dataset(Source,Content,Use)
  *   Link below
  *   Contains data about sales of Amazon
  *   Can be used to get insights into the various parameters that affect the sales.

###Dataset: https://data.world/anilsharma87/sales/file/Amazon%20Sale%20Report.xlsx  

The dataset consists of 128974 rows

For dataset description refer the report

Goal - Increase revenue and improve product category performance

##Step 1: Select and Download the data

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d thedevastator/unlock-profits-with-e-commerce-sales-data

Downloading unlock-profits-with-e-commerce-sales-data.zip to /content
  0% 0.00/6.33M [00:00<?, ?B/s]
100% 6.33M/6.33M [00:00<00:00, 76.1MB/s]

In [ ]:
!unzip \*.zip

Archive:  unlock-profits-with-e-commerce-sales-data.zip
  inflating: Amazon Sale Report.csv
  inflating: Cloud Warehouse Compersion Chart.csv
  inflating: Expense IIGF.csv
  inflating: International sale Report.csv
  inflating: May-2022.csv
  inflating: P  L March 2021.csv
  inflating: Sale Report.csv

## Step 2: Data preparation and cleaning


1.   Load the file using pandas
2.   Look at some information about the data and columns
3.   Fix any missing or incorrect values

In [ ]:
# importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df= pd.read_csv("/content/Amazon Sale Report.csv")

<ipython-input-6-98c1c05dfed4>:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("/content/Amazon Sale Report.csv")

In [ ]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [ ]:
df.shape

(128975, 24)

In [ ]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [ ]:
df.columns = [c.replace(' ', '_') for c in df.columns]
df.columns = [c.replace('-', '_') for c in df.columns]
df.columns

Index(['index', 'Order_ID', 'Date', 'Status', 'Fulfilment', 'Sales_Channel_',
       'ship_service_level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier_Status', 'Qty', 'currency', 'Amount', 'ship_city',
       'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids',
       'B2B', 'fulfilled_by', 'Unnamed:_22'],
      dtype='object')

In [ ]:
df.drop("Unnamed:_22", axis=1,inplace=True)

In [ ]:
df.head(2)

,index,Order_ID,Date,Status,Fulfilment,Sales_Channel_,ship_service_level,Style,SKU,Category,...,Qty,currency,Amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,B2B,fulfilled_by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order_ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales_Channel_      128975 non-null  object
 6   ship_service_level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier_Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship_city           128942 non-null  object
 17  ship_state          128942 non-null  object
 18  ship_postal_code    128942 non-null  float64
 19  ship_country        128942 non-null  object
 20  promotion_ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled_by        39277 non-null   object
dtypes: bool(1), float64(2), int64(2), object(18)
memory usage: 21.8+ MB

In [ ]:
df.isnull().sum()

index                     0
Order_ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales_Channel_            0
ship_service_level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier_Status         6872
Qty                       0
currency               7795
Amount                 7795
ship_city                33
ship_state               33
ship_postal_code         33
ship_country             33
promotion_ids         49153
B2B                       0
fulfilled_by          89698
dtype: int64

### Exploring the data

In [ ]:
df['currency'].unique()

array(['INR', nan], dtype=object)

In [ ]:
df['currency'].fillna(method='ffill',inplace=True)
df['currency'].unique()

array(['INR'], dtype=object)

In [ ]:
print(df['ship_country'].unique())
df['ship_country'].isnull().sum()

['IN' nan]

33

In [ ]:
df['Size'].unique()

array(['S', '3XL', 'XL', 'L', 'XXL', 'XS', '6XL', 'M', '4XL', '5XL',
       'Free'], dtype=object)

In [ ]:
df['Category'].unique()

array(['Set', 'kurta', 'Western Dress', 'Top', 'Ethnic Dress', 'Bottom',
       'Saree', 'Blouse', 'Dupatta'], dtype=object)

In [ ]:
df['Date'].max()

'06-29-22'

In [ ]:
df['Date']

0         04-30-22
1         04-30-22
2         04-30-22
3         04-30-22
4         04-30-22
            ...
128970    05-31-22
128971    05-31-22
128972    05-31-22
128973    05-31-22
128974    05-31-22
Name: Date, Length: 128975, dtype: object

In [ ]:
df['Date'].min()

'03-31-22'

In [ ]:
print(df['Sales_Channel_'].unique())
df[df['Sales_Channel_']=='Non-Amazon'].count()

['Amazon.in' 'Non-Amazon']

index                 124
Order_ID              124
Date                  124
Status                124
Fulfilment            124
Sales_Channel_        124
ship_service_level    124
Style                 124
SKU                   124
Category              124
Size                  124
ASIN                  124
Courier_Status        124
Qty                   124
currency              124
Amount                  0
ship_city             124
ship_state            124
ship_postal_code      124
ship_country          124
promotion_ids           0
B2B                   124
fulfilled_by            0
dtype: int64

### Some observations by looking at the dataset
The dataset consists of 128974 entries and 23 columns

1.   Size : the sizes vary from S to 5XL and freesize
2.   Category : Many categories of products are present in this dataset, namely Set, kurta, Western Dress, Top, Ethnic Dress, Bottom,Saree, Blouse, Dupatta
3.   Dates can be used for analysing the time period and sales, dates in the dataset vary from 03-31-22 to 06-29-22
4.   Status
5.   Fulfillment
6.   Quantity
7.   Amount
8.   ship city and state
9.   B2B
10.  Country: the currency is only either INR or nan, so the country is India

# problems faced
missing amount data
 tackled by some exploration and concluding that amount was missing for the cancelled orders hence can be put 0

#Questions
sizes in demand/sales by product size

cities/states with highest orders

Product category distribution

shipping state for a particular category western dresses/set/kurta/ ethnic dress

distribution of amount/ for a particular category/ distribution of amount for  top 5 categories

top 5 ship state total amount distribution

top 5 ship city total amount distribution

Amazon india net revenue for Q2

Average monthly order amount

Top product revenue by month

Percentage of revenue due to top 5 categories